.controls{
    position: fixed;
    top: 15px;
    height: fit-content;
    
}
.controls>.fixedBtn {
    position: fixed;
    right: 10px;
    top: 15px;
    height: fit-content;
}
.controls>button, .controls>.fixedBtn>button {
    outline: none;
    background-color: transparent;
    border: 0px solid;
    font-size: 2rem;
    color: #fff;
    margin: 0px 5px;
    cursor: pointer;
}

.controls>button:hover, .controls>.fixedBtn>button:hover {
    color: aqua;
}

@media (max-width: 600px) {
    .controls{
        left: 10px;
        top: 30px;
    }
    .controls>button, .controls>.fixedBtn>button {
        font-size: 1.5rem;
        margin: 0px 1px;
        top: 30px
    }
}
