* {
   margin: 0;
   bottom: 0;
   box-sizing: border-box;
}
body {
    background: linear-gradient(159deg, rgba(18,18,18,1) 0%, rgba(126,126,126,1) 50%, rgba(52,52,52,1) 100%);
    overflow: hidden;
}
.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    user-select: none;
}
.gameBoard{
    position:absolute;
    top: 12vh;
    bottom: 8vh;
    width: 95vw;
    height: 80vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: opacity 300ms ease-in-out;
}
.gameBoard.hide {
    opacity: 0;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px 0px;

}
.bottle {
    overflow: hidden;
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    cursor: pointer;
    background-color: rgba(240, 255, 255, 0.05);
    border-radius: 5px;
    clip-path: polygon(0% 100%, 0 15%, 10% 10%, 5% 0, 95% 0, 90% 10%, 100% 15%, 100% 100%);
}
.bottleform {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    clip-path: polygon(0% 100%, 0 15%, 10% 10%, 5% 0, 95% 0, 90% 10%, 100% 15%, 100% 100%);
    box-shadow: inset 0px -4px 7px 1px #dadada75;
    border-radius: 5px;
}

.bottle.chosed {
    transform: translateY(-20px);
}

.colorPiece {
    z-index: 1;
    position: relative;
    width: 100%;
    transition: transform 200ms ease-in;
}

